 *{
    box-sizing: border-box;
    padding: 0px;
   margin: 0px;
    /* background-color: #d2dbdd;
    font-family: Arial, Helvetica, sans-serif; */
  
  } 
  .correct{
    font-weight: bold;
    color: green;
    
  }

  .incorrect{
    font-weight: bold;
    color: red;
    
  }
  .active{
    font-weight: bold;
    font-size: 35px;
  }
  

h1{
    background-image: linear-gradient(white,rgb(158, 157, 157));
  
}

 .type{
  
    width: 50%;
   
    /* border: 1px solid red; */
    
    margin: auto;
    font-size: 40px;
    font-weight: 300;
    border-radius:30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 input{
 
    width: 50%;
    height: 7vh;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
letter-spacing: 3px;
outline: none;
border: none;



 }
 .fill{
    width: 45%;
    margin: auto;
    margin-top: 1rem;
    /* border: 1px solid red; */
    font-size: 30px;
    text-align: center;
    font-weight: 400;


 }
 .back{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: white;
 font-size: 30px;
  width: 15%;
  height: 70px;
  border-color: white;
  color: teal;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 42%;
  margin-top: 2px;
 }
 .back:hover{
  background-color: rgb(80, 76, 76);
   font-size: 30px;
    width: 15%;
    height: 70px;
    border-color: white;
    color:red;
    font-weight: bold;
    border-radius: 10px;
 }


 h1{
  margin-bottom: 100px;
  position: relative;
  font-size: 2vw;
  text-align: center;
  margin-top: 10px;
  color: white;
  margin-bottom: 10px;
 -webkit-text-stroke: 0.1vw white;
  text-transform: uppercase;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color:teal;
  -webkit-text-stroke: 0vw white;
  border-right: 2px solid teal;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate
{
  0%,10%,100%
  {
      width: 0;
  }
  70%, 90%
  {
      width:100%;
  }
}

@media all and (min-width:320px) and (max-width:767px){

  .type{
  
    width: 30%;
   height: 300px;
    /* border: 1px solid red; */
    
    margin: auto;
    font-size: 10px;
    font-weight: 300;
    border-radius:30px;
    
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }

 .back{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: white;
 font-size: 10px;
  width: 20%;
  height: 20px;
  border-color: white;
  color: teal;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 42%;
  margin-top: 2px;
 }
 .fill{
  width: 45%;
  margin: auto;
  margin-top: 1rem;
  /* border: 1px solid red; */
  font-size: 15px;
  text-align: center;
  font-weight: 400;


}
input{
 
  width: 50%;
  height: 4vh;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
letter-spacing: 3px;
outline: none;
border: none;



}

}


